
/* mavi theme */
.mavi-theme .bg-background,
.mavi-theme .header.active,
.mavi-theme .list-group-item.active {
    background-color: #e7efff
}

.mavi-theme .wrapper {
    background-color: #f1ecdf;
    background-image: -moz-radial-gradient(center, ellipse cover, rgba(250, 250, 250, 1) 0%, #e7efff 100%);
    background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(250, 250, 250, 1)), color-stop(100%, #e7efff));
    background-image: -webkit-radial-gradient(center, ellipse cover, rgba(250, 250, 250, 1) 0%, #e7efff 100%);
    background-image: -o-radial-gradient(center, ellipse cover, rgba(250, 250, 250, 1) 0%, #e7efff 100%);
    background-image: -ms-radial-gradient(center, ellipse cover, rgba(250, 250, 250, 1) 0%, #e7efff 100%);
    background-image: radial-gradient(ellipse at center, rgba(250, 250, 250, 1) 0%, #e7efff 100%);
    background-attachment: inherit;
    background-position: center top;
    background-size: 100% 100%;
}

.mavi-theme body,
.mavi-theme body.sidemenu-open,
.mavi-theme .bg-template,
.mavi-theme .btn-default,
.mavi-theme .custom-control-input:checked ~ .custom-control-label::before,
.mavi-theme .small-slide .swiper-slide .card:hover,
.mavi-theme .small-slide .swiper-slide .card:focus,
.mavi-theme .filter,
.mavi-theme .chosen-container .chosen-results li.highlighted,
.mavi-theme .page-item.active .page-link,
.mavi-theme .nav-pills .nav-link.active,
.mavi-theme .nav-pills .show > .nav-link,
.mavi-theme .loader-screen {
    background-color: #55d4eb;
}

.mavi-theme .filter,
.mavi-theme .filter .form-control,
.mavi-theme .filter .form-group label,
.mavi-theme .float-label .chosen-container-multi .chosen-choices,
.mavi-theme .float-label .chosen-container-multi .chosen-choices li.search-field input[type=text],
.mavi-theme .filter .chosen-container-multi .chosen-choices li.search-choice,
.mavi-theme .btn-default,
.mavi-theme .sidebar,
.mavi-theme .sidebar .main-menu .list-group-item,
.mavi-theme .small-slide .swiper-slide .card:hover *,
.mavi-theme .small-slide .swiper-slide .card:focus * {
    color: #ffff !important;
}

.mavi-theme .filter .form-group label {
    opacity: 0.85;
}

.mavi-theme .btn-default:hover,
.mavi-theme .btn-default:focus {
    color: #ffffff;
    background-color: #1b53c4;
}

.mavi-theme .figure-profile,
.mavi-theme .form-control:focus,
.mavi-theme .custom-control-input:focus ~ .custom-control-label::before,
.mavi-theme .custom-control-input:checked ~ .custom-control-label::before,
.mavi-theme .float-label .form-control:focus,
.mavi-theme .page-item.active .page-link,
.mavi-theme .btn-outline-default {
    border-color: #55d4eb
}

.mavi-theme .filter .form-control:focus,
.mavi-theme .filter .custom-control-input:focus ~ .custom-control-label::before,
.mavi-theme .filter .custom-control-input:checked ~ .custom-control-label::before,
.mavi-theme .filter .float-label .form-control:focus {
    border-color: #ffffff
}

.mavi-theme .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 104, 0.3);
}

.mavi-theme .btn-light:hover,
.mavi-theme .btn-light:focus,
.mavi-theme .btn-light:not(:disabled):not(.disabled).active,
.mavi-theme .bg-template-light {
    background-color: #c8daff
}

.mavi-theme .text-template,
.mavi-theme .btn-link,
.mavi-theme a,
.mavi-theme .float-label .form-control:focus + .form-control-label,
.mavi-theme .btn-light:hover,
.mavi-theme .btn-light:focus,
.mavi-theme .btn-light:not(:disabled):not(.disabled).active,
.mavi-theme .btn.btn-link-default:hover,
.mavi-theme .btn.btn-link-default:focus,
.mavi-theme .btn.btn-link-default.active {
    color: #55d4eb;
}

.mavi-theme .bg-warning,
.mavi-theme .badge-warning {
    background-color: #FDD835 !important;
}

.mavi-theme .bg-success,
.mavi-theme .badge-success {
    background-color: #5fefa1 !important;
}

.mavi-theme .bg-orange,
.mavi-theme .badge-orange {
    background-color: #ff9133 !important;
}

.mavi-theme .bg-primary,
.mavi-theme .badge-primary {
    background-color: #3fa7ff !important;
}

.mavi-theme .orange-slice {
    margin-right: -110px;
}