
/* kahve theme */
.kahve-theme .bg-background,
.kahve-theme .header.active,
.kahve-theme .list-group-item.active {
    background-color: #f1ecdf
}

.kahve-theme .wrapper {
    background-color: #f1ecdf;
    background-image: -moz-radial-gradient(center, ellipse cover, rgba(250, 250, 250, 1) 0%, #f1ecdf 100%);
    background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(250, 250, 250, 1)), color-stop(100%, #f1ecdf));
    background-image: -webkit-radial-gradient(center, ellipse cover, rgba(250, 250, 250, 1) 0%, #f1ecdf 100%);
    background-image: -o-radial-gradient(center, ellipse cover, rgba(250, 250, 250, 1) 0%, #f1ecdf 100%);
    background-image: -ms-radial-gradient(center, ellipse cover, rgba(250, 250, 250, 1) 0%, #f1ecdf 100%);
    background-image: radial-gradient(ellipse at center, rgba(250, 250, 250, 1) 0%, #f1ecdf 100%);
    background-attachment: inherit;
    background-position: center top;
    background-size: 100% 100%;
}

.kahve-theme body,
.kahve-theme body.sidemenu-open,
.kahve-theme .bg-template,
.kahve-theme .btn-default,
.kahve-theme .custom-control-input:checked ~ .custom-control-label::before,
.kahve-theme .small-slide .swiper-slide .card:hover,
.kahve-theme .small-slide .swiper-slide .card:focus,
.kahve-theme .filter,
.kahve-theme .chosen-container .chosen-results li.highlighted,
.kahve-theme .page-item.active .page-link,
.kahve-theme .nav-pills .nav-link.active,
.kahve-theme .nav-pills .show > .nav-link,
.kahve-theme .loader-screen {
    background-color: #805433;
}

.kahve-theme .filter,
.kahve-theme .filter .form-control,
.kahve-theme .filter .form-group label,
.kahve-theme .float-label .chosen-container-multi .chosen-choices,
.kahve-theme .float-label .chosen-container-multi .chosen-choices li.search-field input[type=text],
.kahve-theme .filter .chosen-container-multi .chosen-choices li.search-choice,
.kahve-theme .btn-default,
.kahve-theme .sidebar,
.kahve-theme .sidebar .main-menu .list-group-item,
.kahve-theme .small-slide .swiper-slide .card:hover *,
.kahve-theme .small-slide .swiper-slide .card:focus * {
    color: #ffff !important;
}

.kahve-theme .filter .form-group label {
    opacity: 0.85;
}

.kahve-theme .btn-default:hover,
.kahve-theme .btn-default:focus {
    color: #ffffff;
    background-color: #502d13;
}

.kahve-theme .figure-profile,
.kahve-theme .form-control:focus,
.kahve-theme .custom-control-input:focus ~ .custom-control-label::before,
.kahve-theme .custom-control-input:checked ~ .custom-control-label::before,
.kahve-theme .float-label .form-control:focus,
.kahve-theme .page-item.active .page-link,
.kahve-theme .btn-outline-default {
    border-color: #805433
}

.kahve-theme .filter .form-control:focus,
.kahve-theme .filter .custom-control-input:focus ~ .custom-control-label::before,
.kahve-theme .filter .custom-control-input:checked ~ .custom-control-label::before,
.kahve-theme .filter .float-label .form-control:focus {
    border-color: #ffffff
}

.kahve-theme .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 104, 0.3);
}

.kahve-theme .btn-light:hover,
.kahve-theme .btn-light:focus,
.kahve-theme .btn-light:not(:disabled):not(.disabled).active,
.kahve-theme .bg-template-light {
    background-color: #f0e6de
}

.kahve-theme .text-template,
.kahve-theme .btn-link,
.kahve-theme a,
.kahve-theme .float-label .form-control:focus + .form-control-label,
.kahve-theme .btn-light:hover,
.kahve-theme .btn-light:focus,
.kahve-theme .btn-light:not(:disabled):not(.disabled).active,
.kahve-theme .btn.btn-link-default:hover,
.kahve-theme .btn.btn-link-default:focus,
.kahve-theme .btn.btn-link-default.active {
    color: #805433;
}

.kahve-theme .bg-warning,
.kahve-theme .badge-warning {
    background-color: #ead68e !important;
}

.kahve-theme .bg-success,
.kahve-theme .badge-success {
    background-color: #9fd8c5 !important;
}

.kahve-theme .bg-orange,
.kahve-theme .badge-orange {
    background-color: #e6b793 !important;
}

.kahve-theme .bg-primary,
.kahve-theme .badge-primary {
    background-color: #8db3e4 !important;
}

.kahve-theme .orange-slice {
    margin-right: -110px;
}