
/* gri theme */
.gri-theme .bg-background,
.gri-theme .header.active,
.gri-theme .list-group-item.active {
    background-color: #d4d4d4
}

.gri-theme .wrapper {
    background-color: #d4d4d4;
    background-image: -moz-radial-gradient(center, ellipse cover, rgba(250, 250, 250, 1) 0%, #d4d4d4 100%);
    background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(250, 250, 250, 1)), color-stop(100%, #d4d4d4));
    background-image: -webkit-radial-gradient(center, ellipse cover, rgba(250, 250, 250, 1) 0%, #d4d4d4 100%);
    background-image: -o-radial-gradient(center, ellipse cover, rgba(250, 250, 250, 1) 0%, #d4d4d4 100%);
    background-image: -ms-radial-gradient(center, ellipse cover, rgba(250, 250, 250, 1) 0%, #d4d4d4 100%);
    background-image: radial-gradient(ellipse at center, rgba(250, 250, 250, 1) 0%, #d4d4d4 100%);
    background-attachment: inherit;
    background-position: center top;
    background-size: 100% 100%;
}

.gri-theme body,
.gri-theme body.sidemenu-open,
.gri-theme .bg-template,
.gri-theme .btn-default,
.gri-theme .custom-control-input:checked ~ .custom-control-label::before,
.gri-theme .small-slide .swiper-slide .card:hover,
.gri-theme .small-slide .swiper-slide .card:focus,
.gri-theme .filter,
.gri-theme .chosen-container .chosen-results li.highlighted,
.gri-theme .page-item.active .page-link,
.gri-theme .nav-pills .nav-link.active,
.gri-theme .nav-pills .show > .nav-link,
.gri-theme .loader-screen {
    background-color: #4a4a4a;
}

.gri-theme .filter,
.gri-theme .filter .form-control,
.gri-theme .filter .form-group label,
.gri-theme .float-label .chosen-container-multi .chosen-choices,
.gri-theme .float-label .chosen-container-multi .chosen-choices li.search-field input[type=text],
.gri-theme .filter .chosen-container-multi .chosen-choices li.search-choice,
.gri-theme .btn-default,
.gri-theme .sidebar,
.gri-theme .sidebar .main-menu .list-group-item,
.gri-theme .small-slide .swiper-slide .card:hover *,
.gri-theme .small-slide .swiper-slide .card:focus * {
    color: #ffff !important;
}

.gri-theme .filter .form-group label {
    opacity: 0.85;
}

.gri-theme .btn-default:hover,
.gri-theme .btn-default:focus {
    color: #ffffff;
    background-color: #211308;
}

.gri-theme .figure-profile,
.gri-theme .form-control:focus,
.gri-theme .custom-control-input:focus ~ .custom-control-label::before,
.gri-theme .custom-control-input:checked ~ .custom-control-label::before,
.gri-theme .float-label .form-control:focus,
.gri-theme .page-item.active .page-link,
.gri-theme .btn-outline-default {
    border-color: #4a4a4a
}

.gri-theme .filter .form-control:focus,
.gri-theme .filter .custom-control-input:focus ~ .custom-control-label::before,
.gri-theme .filter .custom-control-input:checked ~ .custom-control-label::before,
.gri-theme .filter .float-label .form-control:focus {
    border-color: #ffffff
}

.gri-theme .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 104, 0.3);
}

.gri-theme .btn-light:hover,
.gri-theme .btn-light:focus,
.gri-theme .btn-light:not(:disabled):not(.disabled).active,
.gri-theme .bg-template-light {
    background-color: #e8c1a9
}

.gri-theme .text-template,
.gri-theme .btn-link,
.gri-theme a,
.gri-theme .float-label .form-control:focus + .form-control-label,
.gri-theme .btn-light:hover,
.gri-theme .btn-light:focus,
.gri-theme .btn-light:not(:disabled):not(.disabled).active,
.gri-theme .btn.btn-link-default:hover,
.gri-theme .btn.btn-link-default:focus,
.gri-theme .btn.btn-link-default.active {
    color: #4a4a4a;
}

.gri-theme .bg-warning,
.gri-theme .badge-warning {
    background-color: #FDD835 !important;
}

.gri-theme .bg-success,
.gri-theme .badge-success {
    background-color: #5fefa1 !important;
}

.gri-theme .bg-orange,
.gri-theme .badge-orange {
    background-color: #ff9133 !important;
}

.gri-theme .bg-primary,
.gri-theme .badge-primary {
    background-color: #3fa7ff !important;
}

.gri-theme .orange-slice {
    margin-right: -110px;
}