@{
    ViewData["Title"] = "İletişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="views">
    <div class="view view-main">
        <div class="page">
            <!-- Navbar -->
            <div class="navbar navbar-page">
                <div class="navbar-inner sliding">
                    <div class="left">
                        <a href="/main/" class="link back">
                            <i class="ti-arrow-left"></i>
                        </a>
                    </div>
                    <div class="title">
                        İletişim
                    </div>
                </div>
            </div>

            <!-- Sayfa İçeriği -->
            <div class="page-content">
                <div class="contact segments-page">
                    <div class="container" style="margin-top:80px;">
                        <div class="row">
                            <!-- Görsel Alanı -->
                            <div class="col-100" style="margin-bottom:20px; text-align: -webkit-center;">
                                <div class="content-image">
                                    <img src="@ViewData["slider-kapak"]" alt="İletişim" class="contact-img">
                                </div>
                            </div>

                            <!-- İletişim Bilgileri -->
                            <div class="col-100">
                                <div class="contact-card">
                                    <ul class="contact-info">
                                        <li>
                                            <i class="fa fa-map-marker contact-icon"></i>
                                            <span>@ViewData["iletisim-adres"]</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-phone contact-icon"></i>
                                            <span>@ViewData["iletisim-telNo"]</span>
                                        </li>
                                    </ul>
                                    <div class="col-20">
                                        <a href="#" id="whatsapp-link" target="_blank" class="link icon-link whatsapp">
                                            <i class="fa-brands fa-whatsapp"></i>
                                        </a>
                                    </div>
                                    <br />
                                    <div class="col-20">
                                        <a href="#" id="instagram-link" class="link icon-link">
                                            <i class="ti-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
                <!-- End Contact -->
            </div>
        </div>
    </div>
</div>
